<h1>How to create  chart many point in angular</h1>
<dx-chart [dataSource]="stockPrices" id="chart">
  <!-- See details in the "Bind Series to Data" topic -->
 
  <dxo-zoom-and-pan argumentAxis="both"></dxo-zoom-and-pan>
  <dxi-series type="scatter" argumentField="timestamp" valueField="direction">

  </dxi-series>
  <dxo-argument-axis argumentType="datetime" aggregationInterval="days">
      
      <dxo-label [customizeText]="customizeText"></dxo-label>
  </dxo-argument-axis>
  <dxi-value-axis title="Wind Direction">
      <dxo-label [customizeText]="valueCustomizeText"></dxo-label>
  </dxi-value-axis>
  <dxo-scroll-bar [visible]="false"></dxo-scroll-bar>
  <dxo-legend [visible]="false"></dxo-legend>
  <dxo-tooltip
  [enabled]="true"

  [customizeTooltip]="customizeTooltip">
 </dxo-tooltip>
</dx-chart>